body.calculator{
    background-color: #2952CC;
}

div.calcheader{
    text-align: center;
    color: white;
    font: 18px Calibri;
}

form.calcform{
    background-color: #5475D6;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    color: white;
    font: 18px Calibri;
    width: 1350px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}