p.header{
    text-align: center;
    font: 24px Calibri;
    color: white;
    background-color: #2952CC;
}

body.filespage{
    background-color: #2952CC;
    color: white;
    font: 16px Calibri;
}

body.page{
    background-color: #2952CC;
    color: white;
    font: 16px Calibri;
    text-align: center;
}

input.result{
    width: 500px;
}

div.header{
    background-color: #2952CC;
    text-align: center;
    color: white;
    font: 18px Calibri;
}

div.leftpane{
    background-color: #5475D6;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    color: white;
    font: 18px Calibri;
    width: 1350px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
}